<main>
    <h1>LISTA DE PRODUCTOS</h1>
    <h2>Agregar un producto:</h2>
        <form action="/realtimeproducts" method="POST" id="product">
            <label>Titulo: </label>
            <input name="title" id="title">
            <label >Descripcion: </label>
            <input name="description" id="description">
            <label >Código: </label>
            <input name="code" id="code">
            <label >Precio: </label>
            <input name="price" type="number" id="price">
            <label >Status: </label>
            <input name="status" type="radio" value="true" class="status">
            <label for="true">true</label>
            <input name="status" type="radio" value="" class="status">
            <label >false</label>
            <label for="false">Stock: </label>
            <input name="stock" type="number" id="stock">
            <label >Categoria: </label>
            <input name="category" id="category">
            <label >Thumbnails: </label>
            <input name="thumbnails" id="thumbnails">
            <input type="submit">

        </form>
        <div id="productNew"></div>
        <ul id="productList">
            {{#each products}}
                <li>{{this.title}}: ${{this.price}}</li>
            {{/each}}
        </ul>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>