<main>
    <h1>LOGIN</h1>
    <form action="/" method="post">
        <label for="email">EMAIL</label>
        <input name="email" type="email" id="email">
        <label for="password">CONTRASEÑA</label>
        <input name="password" type="password" id="password">
        <input type="submit" value="Login">
    </form>
    <a href="/api/users/register">REGISTRARSE</a>
    <a href="/github"><button>INGRESAR CON GITHUB</button></a>
</main>