<main>
    <h1>REGISTRO</h1>
    <form action="/api/users/register" method="post">
        <label for="first_name">NOMBRE</label>
        <input name="first_name" type="text" id="first_name">
        <label for="last_name">APELLIDO</label>
        <input name="last_name" type="text" id="last_name">
        <label for="email">EMAIL</label>
        <input name="email" type="email" id="email">
        <label for="password">CONTRASEÑA</label>
        <input name="password" type="password" id="password">
        <label for="age">EDAD</label>
        <input name="age" type="number" id="age">
        <input type="submit" value="Registrarse">
    </form>
</main>